body{
  background-image: url("/IMG/pagweb.jpg");
  background-color: #E8D8C9;
  display: block;
}

header {
  padding-top: 1em;
  padding-bottom: 0.7;
  display: block;
  margin: 25px auto;
  text-align: center;
  font-size: large;
  color: #7c388b;
  font-family:'Times New Roman', Times, serif;
  font-optical-sizing:auto;
  font-weight: bolder;
  font-style: italic;
}

.navbar{
  border-color: #D8C8B9;
  background-color:#D8C8B9;
  border-radius: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  margin: 1em;
}

.navbar-nav{
  text-align: center;
}

.nav-item{
  list-style: none;
  float: none;
}

.nav-link{
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  color: #786BA8;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size:large;
  text-align: center;
}

article {
  border-color: #D8C8B9;
  background-color:#D8C8B9;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
article h2{
  color: #ab65c2;
}

form ul li {
  list-style: none;
  float: none;
  border-radius: 0.5em;
  font-size: large;
  padding: 0.5em;
}
form ul li input {
  border-color:#d4a7e3;
  border-radius: 1em;
}

article button{
  background-color:#d4a7e3;
  border-radius: 1em;
  border-color: #d4a7e3;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
}

a{
  color:#67277d;
}
