body{
  background-image: url("/IMG/pagweb.jpg");
  background-color: #E8D8C9;
  display: block;
}

header {
  padding-top: 1.5em;
  padding-bottom: 0.7;
  display: block;
  margin: 25px auto;
  text-align: center;
  font-size: large;
  color: #7c388b;
  font-family: "Playfair Display", serif;
  font-optical-sizing:auto;
  font-weight: bolder;
}

.navbar{
  border-color: #D8C8B9;
  background-color:#D8C8B9;
  border-radius: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
}

.nav-item{
  list-style: none;
  float: none;
}

.nav-link{
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  color: #786BA8;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size:large;
  text-align: center;
  font-size-adjust: auto;
}


nav[role="navigation"]{
  figcaption {
    display:none; 
    transition: all .5s;
  }
  
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }
}