<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CU:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/whistledown.css">
    <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

</head>
<body>
    <header role="banner">
        <h1>
            Lady Whistledown's
            <br>SOCIETY PAPERS ONLINE
        </h1>
    </header>
    
    <main>
        <h2>Querido Lector,
            <br> Bienvenidos a su lugar especial para comentar lo que quieran, sobre lo que quieran, de manera anonima o no
        </h2>
    
        ///Aca investigar si se pueden poner los chismes ya guardados en la base de datos////
    
        <form>
            <ul>
                <li>
                    <label for="usuario">Nombre de usuario</label>
                    <input class="text" id="usuario"/>
                </li>
                <li>
                    <label for="chisme"> Tu chisme</label>
                    <input class="text" id="chisme"/>
                </li>
            </ul>
        </form>
    
    
        <footer>
            <button>
                <a href="index.html"> Volver a inicio </a>
            </button>
        </footer>
        <script src="/static/bootstrap/bootstrap.min.js"></script>
    </main>
</body>


